<!doctype html>
<html lang="en">
<head>
  <style>
    #background-image {
      bottom: 5rem;    /* 距离页面底部的距离，可以调整 */
      right: 10rem;     /* 距离页面右侧的距离，可以调整 */
      height: 70px;
      width: 70px;     /* 确保有明确的宽度，调整大小 */
      background-image: url('/images/blackhole-icon.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 1500; /* 确保图片在其他内容前面 */
    }
  </style>
</head>
<body>
  <div id="background-image"></div>
</body>
</html>
