<div style="display: flex; align-items: flex-start; width: 100%; padding-left: 0px; margin-top: 15px;">
    <!-- 学校的 logo -->
    <img src="{{ include.logo }}" alt="{{ include.title }}" style="height: 90px; margin-right: -6px; margin-top: {{ include.logo_margin }}px;">
  
    <!-- 文字内容 -->
    <div style="flex-grow: 1;">
      <!-- 标题和日期 -->
      <div style="display: flex; justify-content: space-between; align-items: center; text-indent: 1.5em;">
        <span style="font-family: 'ARIALBD'; font-size: 19px;">
          {{ include.title }}</span>
        <span>{{ include.date }}</span>
      </div>
      
      <!-- 学位或头衔 -->
      {% if include.degree %}
        <p style="margin: 0; font-style: italic; text-indent: 1.5em;">
          {{ include.degree }}
        </p>
      {% endif %}
  
      <!-- 自定义字段 -->
      {% if include.fields %}
        {% assign field_entries = include.fields | split: ';' %}
        {% for entry in field_entries %}
          {% assign parts = entry | split: ':' %}
          {% assign label = parts[0] | strip %}
          {% assign values = parts[1] | strip | split: ',' %}
          <p style="margin: 0;">{{ label }}: 
            {% for value in values %}
              {% assign value_parts = value | split: '|' %}
              {% if value_parts.size == 2 %}
                <a href="{{ value_parts[0] | strip }}">{{ value_parts[1] | strip }}</a>
              {% else %}
                {{ value_parts[0] | strip }}
              {% endif %}
              {% if forloop.last == false %}
                {% if forloop.index == values.size - 1 %}
                  and
                {% else %}
                  ,
                {% endif %}
              {% endif %}
            {% endfor %}
          </p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  