<div style="border: 2px solid #ddd; border-radius: 8px; padding: 12px; list-style-type: none;">
    <div style="font-family: 'ARIALBD'; font-size: 20px; line-height: 1.4;">
      {{ page.title }}
    </div>
  
    <div style="margin: 8px 0;"></div>
  
    <div style="font-family: 'ARIAL';">
      <strong style="text-decoration: underline; text-decoration-thickness: 2px;">
        {{ page.authors }}</strong> ({{ page.date }})
    </div>
  
    <div>
      {% if page.journal %}
      <a href="{{ page.journal }}">
        <em>{{ page.journal_name }}</em> <strong>{{ page.volume }}</strong>, {{ page.article_number }}</a>
      {% endif %}
      {% if page.arxiv %}
      | <a href="{{ page.arxiv }}">
        <em>arXiv</em>:{{ page.arxiv }}
      </a>
      {% endif %}
      {% if page.pdf %}
      <span style="float: right;">
        <a href="{{ page.pdf }}">#{{ page.issue }}</a>
      </span>
      {% endif %}
    </div>
  </div>
  