<ul style="border: 2px solid #ddd; border-radius: 8px; padding: 12px; list-style-type: none;">
    <!-- Title -->
    <div style="font-family: 'ARIALBD'; font-size: 20px; line-height: 1.4;">
      {{ include.title }}
      {% if include.subtitle %}
        <span style="font-family: 'ARIAL'; font-size: 15px;">{{ include.subtitle }}</span>
      {% endif %}
    </div>
  
    <div style="margin: 8px 0;"></div>
  
    <!-- Authors -->
    <div style="font-family: 'ARIAL';">
      {% assign authors = include.authors | split: ',' %}
      {% if authors.size > 4 %}
        <em>et al.</em>
      {% else %}
        {% for author in authors %}
          {% if forloop.index == include.highlight_author %}
            <strong style="text-decoration: underline; text-decoration-thickness: 2px;">{{ author | strip }}</strong>
          {% else %}
            {{ author | strip }}
          {% endif %}
          {% if forloop.last == false %}
            {% if forloop.index == authors.size - 1 %}
              and
            {% else %}
              ,
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
      ({{ include.date }})
    </div>
  
    <div>
      <!-- Journal and/or arXiv Links -->
      {% if include.journal %}
        <a href="{{ include.journal_link }}">
          <em>{{ include.journal }}</em> <strong>{{ include.volume }}</strong>, {{ include.article_number }}</a>
        {% if include.arxiv %}
          |
        {% endif %}
      {% endif %}
      {% if include.arxiv %}
        <a href="{{ include.arxiv_link }}">
          <em>arXiv</em>:{{ include.arxiv }}</a>
      {% endif %}
  
      <!-- PDF Link -->
      {% if include.pdf %}
        <span style="float: right;">
          <a href="{{ include.pdf }}">#{{ include.number }}</a>
        </span>
      {% endif %}
    </div>
  </ul>
  