<!doctype html>
<html class="no-js" lang="en">

<head>
    {% include head.html %}
</head>

<body class="page2" itemscope itemtype="http://schema.org/WebPage">

<div id="main" role="main" itemprop="mainContentOfPage">
    <article itemscope itemtype="http://schema.org/CreativeWork">
        <div class="article-wrap" itemprop="text">
            {{ content }}
        </div><!-- /.article-wrap -->
    </article>
</div><!-- /#main -->

{% include scripts.html %}

<!-- 100% privacy-first analytics -->
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>

</body>
</html>
